<!DOCTYPE html>
<html lang="en">
<head>

    {% include '/layout/partials/_metas.html.twig' %}

    <title>Google Review Manager{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{{ asset('/dist/css/layout_login_css.css') }}">
    <link rel="stylesheet" href="{{ asset('/app/css/security.css') }}">
</head>

<body class="hold-transition login-page">

<div class="login-box">
    <!-- /.login-logo -->
    <div class="w-100 text-center pb-2">
        {% set urlIcon = path('index') %}
        <a href="{{ urlIcon }}">
            <img src="{{ asset('/img/logo.png') }}" height="60" width="60">
        </a>
    </div>

    <div class="card card-outline card-primary">
        <div class="card-header text-center p-2">
            <h5 class="m-0">{{ title  ?? ''}}</h5>
        </div>

        <div class="card-body">
            {% block content %}{% endblock %}
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.login-box -->
<script src="{{ asset('dist/js/layout_login_js.js') }}"></script>
<script src="{{ asset('/app/js/common/Notification.js') }}"></script>
{% block js %}{% endblock %}
</body>

</html>
