{% extends '/security/layout/base.html.twig' %}
{% block title %}| Login{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            <p class="login-box-msg mb-0">You are logged in as <strong>{{ app.user.username }}</strong></p>
            <a href="{{ path('app_logout') }}" class="btn btn-outline-info btn-block">Logout</a>
        </div>
    {% else %}
        <p class="login-box-msg pb-1">Sign in to start your session</p>
        <form action="{{ path('app_login') }}" method="post" id="form_login-" novalidate>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="admin/business">
            <div class="input-group mb-3">
                <input type="email"
                       class="form-control"
                       placeholder="Email"
                       value="{{ lastUsername }}"
                       name="_username" id="inputEmail"
                       required autofocus
                       minlength="2"
                       maxlength="255">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-2">
                <input name="_password" type="password" class="form-control" placeholder="Password" required
                       minlength="2"
                       maxlength="255">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mb-1">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember" name="_remember_me" checked>
                        <label for="remember">
                            Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-info btn-block">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <div class="mt-2 text-center">
            <p class="mb-1">
                <a href="#">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a href="#" class="text-center">Register a new membership</a>
            </p>
        </div>
    {% endif %}

{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('/app/js/login/LoginFormPage.js') }}"></script>
    <script src="{{ asset('/app/js/login/LoginFormValidator.js') }}"></script>
    <script>
        (new LoginFormPage()).init();
    </script>

{% endblock %}