{% extends '/layout/base.html.twig' %}
{% import '/components/helpers_macro.html.twig' as helpers %}


{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/app/css/input-loading.css') }}">
{% endblock %}

{% block title %} | Create user{% endblock %}

{% block content %}
    {% set isEdit = false %}
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card card-info card-outline direct-chat direct-chat-info">
                {{ form_start(form) }}
                <div class="card-header card-header-compressed">
                    <h4 class="card-title">Create user</h4>
                    <div class="card-tools">
                        <a href="{{ path('users_list') }}" class="btn btn-xs btn-light">Cancel</a>
                        <button type="submit" class="btn btn-xs btn-info">Insert</button>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-8 offset-2">
                            {% include '/security/user/_form_fields.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="card-footer p-2 text-right">
                    <a href="{{ path('users_list') }}" class="btn btn-light btn-sm">Cancel</a>
                    <button type="submit" class="btn btn-info btn-sm">Insert</button>
                </div>
                {{ form_end(form) }}
                {{ helpers.form_processing() }}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('/dist/js/cleave_js.js') }}"></script>
    <script src="{{ asset('/app/js/common/InputSpinner.js') }}"></script>
    <script src="{{ asset('/app/js/security/User/UserFormValidator.js') }}"></script>
    <script src="{{ asset('/app/js/security/User/UserForm.js') }}"></script>
    <script>
        (new UserForm()).init();
    </script>
{% endblock %}