{% set title = 'Google Review Link Generator' %}

<!DOCTYPE html>
<html lang="en">

<head>
    {# todo: add metas #}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ title }}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="{{ asset('/img/favicon.ico') }}" rel="icon">
    <link href="{{ asset('/img/favicon.ico') }}" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/css/smart_wizard_all.min.css" rel="stylesheet"
          type="text/css"/>

    <link href="{{ asset('/dist/css/landing_css.css') }}" rel="stylesheet">
    <link href="{{ asset('/dist/css/landing_wizard_css.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('/app/css/input-loading.css') }}">
    <link rel="stylesheet" href="{{ asset('/app/css/landing-page.css') }}">
    <link rel="stylesheet" href="{{ asset('/app/css/wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('/dist/css/adminlte_toastr_css.css') }}">

</head>

<body>

<div id="urls" class="d-none"
     data-api_v1_google_place_autocomplete_get="{{ path('api_v1_google_place_autocomplete_get') }}"
     data-api_v1_google_place_details_post="{{ path('api_v1_google_place_details_post') }}">
</div>

<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center">
                <a href="{{ sys_admin_email }}">{{ sys_admin_email }}</a>
            </i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <a title="Personal Page" href="{{ sys_admin_personal_page_url }}" class="website"><i
                        class="bi bi-globe"></i></a>
            <a title="Linkedin profile" href="{{ sys_admin_linkedin_profile_url }}" class="linkedin"><i
                        class="bi bi-linkedin"></i></a>
        </div>
    </div>
</section>

<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo">
            <a href="{{ path('index') }}">
                <img src="{{ asset('/img/logo.png') }}" width="50" height="50">
                {{ title }}
            </a>
        </h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Generate Google Review Link</a></li>
                <li id="linkToGoogleReviewResults" class="d-none"><a class="nav-link scrollto"
                                                                     href="#yourGoogleReviewLink">Your Google Review
                        Link</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>

<section id="hero" class="">
    <div class="row visible-wizard">
        <div class="col text-center d-flex justify-content-center w-100">
            {% include '/landing/index/partials/wizard/_wizard.html.twig' %}
        </div>
    </div>
</section>

<main id="main">
    {# Google Review Link - Results #}
    <section id="yourGoogleReviewLink" class="section-bg d-none">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="section-title pb-0">
                <h3>Here is your Google Review Link</h3>
                <p class="font-weight-100">
                    <span id="googleReviewLinkResultBusinessName"></span>
                </p>
                <p class="font-weight-100">
                    <img src="{{ asset('/img/googlemap.png') }}" width="25" height="25">
                    <span id="googleReviewLinkResultAddress"></span>
                </p>
            </div>
            <div class="row">
                <div class="col aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                    {% include '/landing/index/partials/_google_review_link_results.html.twig' %}
                </div>
            </div>
        </div>
    </section>

    {# Contact US Form #}
    {% include '/landing/index/partials/layout/_contact_us.html.twig' %}
</main>


{% include '/landing/index/partials/layout/_footer.html.twig' %}


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

<script src="{{ asset('/dist/js/landing_js.js') }}"></script>
<script src="{{ asset('/dist/js/landing_wizard_js.js') }}"></script>
<script src="{{ asset('/dist/js/adminlte_toastr_js.js') }}"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{{ asset('/app/js/common/Notification.js') }}"></script>
<script src="{{ asset('/app/js/landing/BusinessAddressValidator.js') }}"></script>
<script src="{{ asset('/app/js/landing/ContactFormValidator.js') }}"></script>
<script src="{{ asset('/app/js/landing/ContactUsFormValidator.js') }}"></script>
<script src="{{ asset('/app/js/landing/LandingPageAddressAutoComplete.js') }}"></script>
<script src="{{ asset('/app/js/common/InputSpinner.js') }}"></script>
<script src="{{ asset('/app/js/common/CopyClipboard.js') }}"></script>
<script src="{{ asset('/app/js/landing/LandingPage.js') }}"></script>
<script src="{{ asset('/app/js/landing/ContactUsForm.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/js/jquery.smartWizard.min.js"
        type="text/javascript"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ siteKey }}"></script>
<script>
    (new CopyClipboard()).init();
    (new ContactUsForm()).init();
    $('[data-toggle="tooltip"]').tooltip();
    (new LandingPage()).init();
</script>
</body>

</html>