{% import '/components/helpers_macro.html.twig' as helpers %}

<style>
    .form-check {
        padding-left: 0;
    }
</style>

<div class="form-group row">
    <div class="col-8">
        {{ helpers.field(form.name) }}
    </div>
    <div class="col-4">
        <small>This value represents the business name.</small>
    </div>
</div>
<div class="form-group row">
    <div class="col-8">
        {{ helpers.field(form.industrySector) }}
    </div>
    <div class="col-4">
        <small>This value represents what the business does.</small>
    </div>
</div>
<div class="form-group row">
    <div class="col-8">
        <div class="mb-3">
            {{ helpers.field(form.address) }}
        </div>
        <div class="mb-3">
            {{ helpers.field(form.city) }}
        </div>
        <div class="mb-2 row">
            <div class="col">
                {{ helpers.field(form.state) }}
            </div>
            <div class="col">
                {{ helpers.field(form.zipCode) }}
            </div>
        </div>
    </div>
    <div class="col-4">
        <small>The business location is the current address the business is located.</small>
    </div>
</div>
<div class="form-group row">
    <div class="col-8">
        <label>Status</label>
        <div class="d-block">{{ form_widget(form.active) }}</div>
    </div>
    <div class="col-4">
        <small>The business <strong>active</strong> is an indicator of whether the business is
            currently
            open and generating goods and/or services.</small>
    </div>
</div>