{% import '/components/helpers_macro.html.twig' as helpers %}

<div class="row mt-2">
    <div class="col">
        <h5 class="mb-0">
            <a class="text-black link-black-no-hover collapse-link"
               data-toggle="collapse"
               aria-expanded="true"
               href="#business-{{ business.id }}-review-list">
                Google Review Links
                <i class="fa fa-angle-down ml-2 font-14"></i>
            </a>
        </h5>
    </div>
</div>
<div id="business-{{ business.id }}-review-list" class="collapse show">
    <div class="row form-group">
        <div class="col-auto p-1">
            <button id="btnGenerateReviewOnEditForm"
                    data-url="{{ path('api_v1_business_business_id_review_generate_post', {business_id: business.id}) }}"
                    class="btn btn-xs btn-outline-info"
                    type="button">
                <i class="fa fa-plus"></i>
                Generate new Google Review Link
            </button>
        </div>
        <div class="col-auto p-1 d-none"> {# todo: When this is fully implemented then make visible again #}
            <button class="btn btn-xs disabled text-gray" disabled
                    type="button"> {# todo: when there is no selected review then to disable the Remove Selected btn. This is the btn template to disable it. #}
                Select all
            </button>
            <a role="button" class="btn-xs btn-outline-info"
               type="button">
                Select all
            </a>
        </div>
        <div class="col-auto p-1">
            <a id="btnRemoveSelectedReview" role="button" class="btn-xs btn-outline-info"
               type="button">
                Remove selected
            </a>
        </div>
        <div class="col-auto p-1">
            <a id="btnRemoveAllReviews"
               role="button" class="btn-xs btn-outline-info"
               type="button">
                Remove all
            </a>
        </div>
    </div>
    {{ helpers.loading_dot() }}
    <div class="row" id="googleReviewListContainer">
        {{ helpers.loading_skeleton('review-list-loader') }}
    </div>
    {{ helpers.no_result(
        'No Google Review Link has been created.',
        'emptyReviewListLabel',
        false,
        'd-none'
    ) }}
</div>