{% extends '/security/layout/base.html.twig' %}
{% import '/components/helpers_macro.html.twig' as helpers %}

{% block title %}| Change Password{% endblock %}

{% block content %}

    {% if app.user %}
        <div class="mb-3">
            <p class="login-box-msg mb-0">You are logged in as <strong>{{ app.user.username }}</strong></p>
            <a href="{{ path('app_logout') }}" class="btn btn-outline-info btn-block">Logout</a>
        </div>
    {% else %}

        {{ helpers.notifications_error() }}

        <p class="login-box-msg mb-0">Enter a new password</p>

        {{ form_start(form) }}

        <div class="input-group mb-3">
            {{ form_widget(form.password.first, {attr: {placeholder: 'Password'}}) }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            {{ form_widget(form.password.second, {attr: {placeholder: 'Retype the password'}}) }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-info btn-block">Update</button>
            </div>
        </div>

        {{ form_end(form) }}

        <div class="mt-2 text-center">
            <p class="mb-0">
                <a href="{{ path('app_login') }}" class="text-center">Go to login</a>
            </p>
        </div>
    {% endif %}

{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('/app/js/login/LoginFormPage.js') }}"></script>
    <script src="{{ asset('/app/js/login/LoginFormValidator.js') }}"></script>
    <script>
        (new LoginFormPage()).init();
    </script>

{% endblock %}