{% extends '/security/layout/base.html.twig' %}
{% import '/components/helpers_macro.html.twig' as helpers %}

{% block title %}| Change Password{% endblock %}

{% block content %}

    {% if app.user %}
        <div class="mb-3">
            <p class="login-box-msg mb-0">You are logged in as <strong>{{ app.user.username }}</strong></p>
            <a href="{{ path('app_logout') }}" class="btn btn-outline-info btn-block">Logout</a>
        </div>
    {% else %}
        {{ helpers.notifications_error() }}
        <div>
            <p class="text-center p-3 bg-success-light">Password updated successfully.</p>
            <div class="mt-2 text-center">
                <p class="mb-0">
                    <a href="{{ path('app_login') }}" class="text-center">Go to login</a>
                </p>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('/app/js/login/LoginFormPage.js') }}"></script>
    <script src="{{ asset('/app/js/login/LoginFormValidator.js') }}"></script>
    <script>
        (new LoginFormPage()).init();
    </script>
{% endblock %}