{% extends '/security/layout/base.html.twig' %}
{% import '/components/helpers_macro.html.twig' as helpers %}
{% block title %}| Enter your email{% endblock %}

{% block content %}

    {% if app.user %}
        <div class="mb-3">
            <p class="login-box-msg mb-0">You are logged in as <strong>{{ app.user.username }}</strong></p>
            <a href="{{ path('app_logout') }}" class="btn btn-outline-info btn-block">Logout</a>
        </div>
    {% else %}

        {{ helpers.notifications_error() }}

        <div id="containerChangePasswordCredential">
            <p class="login-box-msg mb-0">We need to know who you are.</p>
            <p class="text-center"> Please enter your email. An email will be sent to you indicating the steps you must
                follow to update your password.</p>
            <form id="formChangePasswordGetEmail" novalidate>
                <div class="input-group mb-3">
                    <input type="email"
                           name="email"
                           required
                           class="form-control"
                           placeholder="Enter your email"
                           minlength="2"
                           maxlength="255"
                           help="If you are a member then the steps to change your password will be send to this email.">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit"
                                data-url="{{ path('api_v1_change_password_send_link_to_update_password_post') }}"
                                class="btn btn-info btn-block">Send link</button>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="mt-2 text-center">
                    <p class="mb-0">
                        <a href="{{ path('app_login') }}" class="text-center">Go to login</a>
                    </p>
                </div>
            </form>
        </div>


        <div id="changePasswordEmailSentSuccessfully" class="d-none">
            <p class="text-center p-3 bg-success-light">Email sent to <strong id="emailSendTo"></strong>
                successfully.</p>
            <p class="text-center">Please go to your email and follow the steps to update your link.</p>
            <div class="mt-2 text-center">
                <p class="mb-0">
                    <a href="{{ path('app_login') }}" class="text-center">Go to login</a>
                </p>
            </div>
        </div>

    {% endif %}

{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('/app/js/security/ChangePassword/ChangePasswordGetEmailFormValidator.js') }}"></script>
    <script src="{{ asset('/app/js/security/ChangePassword/ChangePasswordGetEmailForm.js') }}"></script>
    <script>
        (new ChangePasswordGetEmailForm()).init();
    </script>

{% endblock %}