<div class="table-responsive">
    <table data-is-datatable="true" class="table table-hover text-nowrap table-sm">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Location</th>
            <th class="cursor-help text-center"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                title="The <em>status</em> represents whether a business is currently open and providing services and/or goods.">
                Status
            </th>
            <th class="text-center">Review link & QR code</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in business %}
            {% set id = loop.index0 %}
            {% include '/dashboard/business/partials/_qrCodes.html.twig' with {
                id: id
            } %}
            <tr>
                <td data-id="{{ id }}" class="dt-control"></td>
                <td>{{ item.name }}</td>
                <td>
                    {{ item.location }}
                    <a href="https://www.google.com/maps" target="_blank" title="Locate on Google Maps">
                        <img src="{{ asset('/img/googlemap.png') }}" height="25" width="25">
                    </a>
                </td>
                <td class="text-center">
                    {% if item.active %}
                        <i class="fa fa-check text-success" data-toggle="tooltip" data-placement="top"
                           title="Active"></i>
                    {% else %}
                        <i class="fa fa-times text-danger" data-toggle="tooltip" data-placement="top"
                           title="Inactive"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <img class="table-avatar" src="{{ asset('/img/qrcode.png') }}" height="25" width="25">
                            <a href="#">https://link.review.com</a>
                        </li>
                    </ul>
                </td>
                <td class="text-right">
                    <button type="button" class="btn btn-outline-info btn-xs">
                        <i class="fa fa-qrcode" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-info btn-xs" title="Export PDF">
                        <i class="fa fa-file-pdf"></i>
                    </button>
                    <button type="button" class="btn btn-outline-info btn-xs">
                        <i class="fa fa-pen"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-xs">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>