{% macro field(field) %}
    <div class="form-group">
        {{ form_label(field) }}
        {{ form_widget(field) }}
        {% if field.vars.errors|length %}
            <div class="text-danger">
                {{ form_errors(field) }}
            </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro no_result(message, id) %}
    <div class="row" {% if id %}id="{{ id }}"{% endif %}>
        <div class="col text-center font-14 text-muted">
            {% if message %}
                {{ message }}
            {% else %}
                No results found.
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro loading_dot() %}
    <div class="text-center d-none" data-id="loading-dot">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
{% endmacro %}

{% macro form_processing() %}
    <div class="overlay d-none">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
{% endmacro %}