{% extends '/layout/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dist/css/layout_adminlte_datatable_css.css') }}">
    <link rel="stylesheet" href="{{ asset('/app/css/business.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap4.min.css">

{% endblock %}

{% block content %}
    <div class="card card-primary card-outline direct-chat direct-chat-primary">
        <div class="card-header card-header-compressed">
            <h4 class="card-title">Business</h4>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-toggle="collapse" data-target="#filter-business">
                    <i class="fas fa-search"></i>
                </button>
                <button type="button" class="btn btn-tool bg-info btn-xs" data-target="#modalNewBusinessForm" data-toggle="modal">
                    Add Business
                </button>
            </div>
        </div>
        <div class="card-body p-2">
            <div class="collapse" id="filter-business">
                <form class="row">
                    <div class="col">
                        <label>Name</label>
                        <div class="input-group mb-3">
                            <input class="form-control form-control-sm" placeholder="Business name">
                            <div class="input-group-prepend">
                                <button class="btn btn-sm  btn-secondary" type="button" data-clear-form="true">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label>Status</label>
                        <div class="input-group mb-3">
                            <select class="form-control form-control-sm">
                                {% set status = ['All', 'Active', 'Inactive'] %}
                                {% for item in status %}
                                    <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-prepend">
                                <button class="btn btn-sm btn-secondary" type="button" data-clear-form="true">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-xs btn-primary">Accept</button>
                        <button type="button" class="btn btn-xs btn-secondary" data-toggle="true" data-dismiss="">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
            {% include '/dashboard/business/list.html.twig' %}
        </div>
    </div>


    {% include '/dashboard/business/partials/_modalNewBusiness.html.twig' %}

{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('dist/js/layout_adminlte_datatable_js') }}"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="{{ asset('/app/js/common/YjmDatatable.js') }}"></script>
    <script src="{{ asset('/app/js/common/BsComponents.js') }}"></script>
    <script src="{{ asset('/app/js/common/FormManagement.js') }}"></script>
    <script>
        new YjmDatatable();
        new BsComponents();
        new FormManagement();
    </script>
{% endblock %}