{% extends '/layout/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dist/css/layout_adminlte_datatable_css.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-primary card-outline direct-chat direct-chat-primary">
        <div class="card-header card-header-compressed">
            <h4 class="card-title">Business</h4>
            <div class="card-tools">
                <button type="button" class="btn btn-tool bg-info btn-xs">
                    Add Business
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-2">
            {% include '/dashboard/business/list.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('dist/js/layout_adminlte_datatable_js') }}"></script>
    <script src="{{ asset('/app/js/common/YjmDatatable.js') }}"></script>
    <script src="{{ asset('/app/js/common/BsComponents.js') }}"></script>
    <script>
        new YjmDatatable();
        new BsComponents();
    </script>
{% endblock %}